.dishes {
    margin-top: 6.5rem;
    margin-bottom: 1.5rem;
}

.dishes .dishes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.meals-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}



@media (max-width: 750px) {
    .dishes {
        margin-top: 2.5rem;
    }


    .dishes .dishes-header {
        flex-direction: column;
    }

    .meals-container {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 570px) {
    .meals-container {
        grid-template-columns: 1fr;
    }
}
