nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    gap: 1rem;
}

.navbar-logo {
    height: 3.5rem;
}

.nav-links {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.mobile-menu-icon {
    display: none;
}

.nav-links a {
    display: block;
    padding: 0.5rem;
}





.nav-links a:hover,
.nav-links a:focus {
    background-color: #f4ce14;
}


@media screen and (max-width: 750px) {
    .mobile-menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #EDEFEE;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
}

