@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');

:root {
  --text-color: #495E57;
  --background-color: #EDEFEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
}



img {
  max-width: 100%;
}

/* TYPOGRAPHY */


h1,h2 {
  font-family: 'Markazi Text', serif;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}


.home {
  font-weight: medium;
}

section .title{
  font-size: rem;
  font-weight: extra bold;
}

.card title {
  font-size: 1.1rem;
  font-weight: medium;
}

.card p {
  line-height: 1.5;
  max-width: 65ch;
}


a {
  text-decoration: none;
  
}

li {
  list-style-type: none;
}

/* LAYOUT */

.btn {
  border-radius: 10px;
  color: #495E57;
  background-color: #f4ce14;
  padding: 7px 15px;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.grid {
  display: grid;
}

header {
  background-color: white;
  max-height: 16rem;
}



/* footer */
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    max-height: 4rem;
}

footer {
  background-color: #495E57;
  color: #edefee;
}
